<style>
  .message-content{

  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Parece que uma troca de senha para sua conta foi solicitada.</p>
  <p>Se foi você, então clique no link abaixo para escolher uma nova senha</p>
  <p><a href="{{link}}">Resetar minha Senha</a></p>
  <p>Se não foi você, então descarte esse email!</p>
  <p>Obrigado!</p>
  <p><strong>Equipe GoBarber</strong></p>

</div>